# Importing Data Section
## The csv data used below is 2015 loans and is available [here](https://www.lendingclub.com/info/download-data.action )

In [ ]:
#importing pandas to help with importing data set
import pandas as pd
#this is to set the max output for columns
#pd.options.display.max_columns = 999 
#this is to set the max output for rows
#pd.options.display.max_rows
#importing pi lab
import pylab as pl
#this is a bug fix for using Jupyter
#importing matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
#import numpy
import numpy as np
#import sns
import seaborn as sns

In [2]:
#importing pandas stats library 
import statsmodels.formula.api as sm

In [3]:
# using the pandas read csv function to pull in my data this is my panda dataframe
## using parens to call the function with parameters, and quotes for the string.
###The last 4 rows in my data set are not necessary, and I ned to drop them along with my first row. 
lc_test = pd.read_csv(filepath_or_buffer="/Users/z013mbn/Desktop/LC_Test.csv",skiprows=0, skipfooter=4, header=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [4]:
#check to make sure my data set is correct
pd.options.display.max_columns = 999 
pd.options.display.max_rows = 10 
lc_test

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,15000,15000,15000,60 months,12.39%,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-14,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,0,Aug-94,0,NaN,NaN,6,0,138008,29%,17,w,0.00,0.00,17392.370000,17392.37,15000.00,2392.37,0.0,0.00,0.0000,Jun-16,12017.81,NaN,Nov-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,149140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184500,NaN,NaN,NaN,5,29828.0,9525.0,4.7,0,0,103.0,244,1,1,0,47.0,NaN,NaN,NaN,0,1,4,1,2,8,5,9,4,6,0.0,0,0,4,100.0,0.0,0,0,196500,149140,10000,12000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10400,10400,10400,36 months,6.99%,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-14,Charged Off,n,NaN,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,0,Sep-89,2,42.0,NaN,17,0,6133,31.60%,36,w,0.00,0.00,6611.690000,6611.69,5217.75,872.67,0.0,521.27,93.8286,Aug-16,321.08,NaN,Feb-17,0,59.0,1,Individual,NaN,NaN,NaN,0,0,162110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19400,NaN,NaN,NaN,7,9536.0,7599.0,41.5,0,0,76.0,290,1,1,1,5.0,42.0,1.0,42.0,4,6,9,7,18,2,14,32,9,17,0.0,0,0,4,83.3,14.3,0,0,179407,15030,13000,11325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12800,12800,12800,60 months,17.14%,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,Dec-14,In Grace Period,n,NaN,NaN,car,Car financing,953xx,CA,8.31,1,Oct-00,0,17.0,NaN,8,0,5753,100.90%,13,w,6223.57,6223.57,11845.830000,11845.83,6576.43,5269.40,0.0,0.00,0.0000,Feb-18,319.08,Apr-18,Mar-18,0,36.0,1,Individual,NaN,NaN,NaN,0,0,261815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5700,NaN,NaN,NaN,2,32727.0,0.0,103.2,0,0,16.0,170,21,16,5,21.0,17.0,1.0,17.0,1,3,5,3,5,1,5,7,5,8,0.0,0,0,0,76.9,100.0,0,0,368700,18007,4400,18000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,21425,21425,21425,60 months,15.59%,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,Dec-14,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,658xx,MO,18.49,0,Aug-03,0,60.0,NaN,10,0,16374,76.20%,35,w,0.00,0.00,25512.200000,25512.20,21425.00,4087.20,0.0,0.00,0.0000,May-16,17813.19,NaN,Mar-18,0,74.0,1,Individual,NaN,NaN,NaN,0,0,42315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21500,NaN,NaN,NaN,4,4232.0,324.0,97.8,0,0,135.0,136,7,7,0,7.0,60.0,7.0,60.0,1,3,4,3,12,16,5,18,4,10,0.0,0,0,2,91.4,100.0,0,0,57073,42315,15000,35573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,7650,7650,7650,36 months,13.66%,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,Dec-14,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0,Aug-02,1,NaN,NaN,11,0,16822,91.90%,20,f,0.00,0.00,2281.980000,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-15,17.70,NaN,Oct-16,0,NaN,1,Individual,NaN,NaN,NaN,0,0,64426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18300,NaN,NaN,NaN,6,5857.0,332.0,93.2,0,0,137.0,148,8,8,0,17.0,NaN,3.0,NaN,0,1,4,1,4,12,4,8,4,11,0.0,0,0,2,100.0,100.0,0,0,82331,64426,4900,64031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235624,NaN,NaN,18400,18400,18400,60 months,14.47%,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0,Apr-03,2,NaN,NaN,18,0,23208,77.60%,36,w,0.00,0.00,25188.225980,25188.23,18400.00,6788.23,0.0,0.00,0.0000,Jul-17,7394.95,NaN,Sep-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,294998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900,NaN,NaN,NaN,5,17353.0,2203.0,89.6,0,0,121.0,128,15,3,4,69.0,NaN,3.0,NaN,0,5,7,5,7,20,9,12,7,18,0.0,0,0,1,100.0,80.0,0,0,311049,184117,21200,159744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235625,NaN,NaN,22000,22000,22000,60 months,19.97%,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0,Jun-97,5,NaN,116.0,18,1,18238,46.30%,30,f,0.00,0.00,4680.000000,4680.00,1837.04,2840.88,0.0,2.08,0.0000,Dec-14,17.50,NaN,Feb-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,221830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400,NaN,NaN,NaN,5,13864.0,5569.0,54.4,0,0,140.0,198,17,3,5,17.0,NaN,1.0,NaN,0,3,5,6,9,8,13,16,5,18,0.0,0,0,2,100.0,20.0,1,0,263367,47136,12200,39347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235626,NaN,NaN,20700,20700,20700,60 months,16.99%,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,NaN,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0,Dec-01,2,65.0,NaN,18,0,6688,51.10%,43,f,4764.32,4764.32,25717.000020,25717.00,15935.68,9781.32,0.0,0.00,0.0000,Mar-18,514.34,Apr-18,Mar-18,0,NaN,1,Individual,NaN,NaN,NaN,0,0,73598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100,NaN,NaN,NaN,8,4089.0,1822.0,78.6,0,0,144.0,93,80,19,3,93.0,NaN,1.0,NaN,0,1,2,1,1,38,2,2,2,18,0.0,0,0,0,97.6,100.0,0,0,96582,73598,8500,83482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235627,NaN,NaN,2000,2000,2000,36 months,7.90%,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3,Feb-03,1,13.0,NaN,21,0,11404,21.50%,27,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.00,0.0000,Dec-14,1500.68,NaN,Mar-18,0,NaN,1,Individual,NaN,NaN,NaN,0,0,591610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100,NaN,NaN,NaN,7,28172.0,36402.0,23.4,0,0,65.0,130,5,5,2,5.0,17.0,2.0,13.0,0,2,3,9,10,9,13,16,3,21,0.0,0,0,4,85.2,11.1,0,0,640841,50896,47500,37200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235628,NaN,NaN,10000,10000,9975,36 months,19.20%,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Fully Paid,n,NaN,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1,Feb-00,0,9.0,NaN,6,0,11325,70.80%,22,f,0.00,0.00,13232.503340,13199.42,10000.00,3232.50,0.0,0.00,0.0000,Jan-17,367.20,NaN,Nov-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,57477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000,NaN,NaN,NaN,4,11495.0,2175.0,83.9,0,0,93.0,166,4,4,2,4.0,NaN,13.0,9.0,0,2,2,2,11,3,4,17,2,6,0.0,0,0,2,90.9,50.0,0,0,81470,57477,13500,65470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#seeing which columns have null values 
lc_test.columns[lc_test.isna().any()].tolist()

['id',
 'member_id',
 'emp_title',
 'emp_length',
 'url',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'revol_util',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_tl_120dpd_2m',
 'percent_bc_gt_75',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [6]:
#dropping the bad columns 
#Manual Drop
##lc_drop = lc_test.drop([''], axis=1)
#drop them all
lc_drop = lc_test.dropna(axis=1, how='all')
lc_drop.columns[lc_drop.isna().any()].tolist()

['emp_title',
 'emp_length',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'revol_util',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'mths_since_last_major_derog',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_tl_120dpd_2m',
 'percent_bc_gt_75',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [7]:
#dropping the bad columns 
#Manual Drop the columns know to be irrelevant 
lc_drop1 = lc_drop.drop(['settlement_status', 'settlement_date', 'settlement_amount', 
                        'settlement_percentage', 'settlement_term', 'hardship_length', 
                        'hardship_dpd', 'hardship_loan_status', 'hardship_type',
                        'hardship_reason', 'hardship_status', 'hardship_amount', 'hardship_start_date', 
                        'hardship_end_date', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
                        'desc', 'payment_plan_start_date', 'debt_settlement_flag_date',
                         'orig_projected_additional_accrued_interest', 'last_pymnt_d', 'next_pymnt_d',
                        'last_credit_pull_d', 'deferral_term'], axis=1)
lc_drop1.columns[lc_drop1.isna().any()].tolist()

['emp_title',
 'emp_length',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'revol_util',
 'mths_since_last_major_derog',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_tl_120dpd_2m',
 'percent_bc_gt_75']

In [8]:
#I'd like to see values in a colmun
lc_drop1.emp_length.unique()

array(['10+ years', '8 years', '6 years', '< 1 year', '2 years',
       '9 years', '7 years', '5 years', '3 years', '4 years', nan,
       '1 year'], dtype=object)

In [19]:
#Print the number of total lenght
len(lc_drop1)

#len(lc_drop1) - lc_drop1.mths_since_last_delinq.isnull().sum()

235629

In [37]:
#This function will tell me how many observations in a column or null
def perc_null(col):
    print ("Percent nulls of ", col.name, (len(col) - col.isnull().sum()) / len(col))

perc_null(lc_drop1.emp_title)

#Not able to get this working
#for i in lc_drop1.columns():
    #perc_null(i)

Percent nulls of  emp_title 0.9438269482958379

In [13]:
lc_drop1.mths_since_last_delinq.groupby('mths_since_last_delinq').count()

KeyError: 'mths_since_last_delinq'

In [ ]:
#I'd like to fill in data where I have missing values

In [ ]:
#dropping the bad columns 
#Manual Drop the columns know to be irrelevant 
#lc_drop1 = lc_drop.drop([['settlement_status', 'settlement_date', \
 #                        'settlement_amount', 'settlement_percentage', \
 #                        'settlement_term',  'hardship_length', 'hardship_dpd', 'hardship_loan_status','hardship_type', \
  #                       'hardship_reason', 'hardship_status', 'hardship_amount', 'hardship_start_date', \
   #                      'hardship_end_date', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount']], axis=1)
#Making a list of the other columns that need to be 0 and not NA
#A = lc_drop1.columns[lc_drop1.isna().any()]
#A
#lc_clean = lc_drop1[[A][0]].fillna(0, inplace = True)
#lc_drop1

In [ ]:
##Adding 0 for columns that are missing data
###df['FirstName'][df.ID == 103] = "Matt"
lc_drop2 = lc_drop1['emp_length'].fillna(0, inplace=True)
lc_drop2.columns[lc_drop2.isna().any()].tolist()

In [ ]:
lc_drop1.columns(A)

In [ ]:

# Put the PD options back to normal
pd.options.display.max_columns = 20 
pd.options.display.max_rows = 60

In [ ]:
#Cleaning up the data
##Adding 0 for columns that are missing data
###df['FirstName'][df.ID == 103] = "Matt"
lc_test['mths_since_recent_bc_dlq'].fillna(0, inplace=True)
lc_test['mths_since_recent_bc_dlq']

In [ ]:
#Cleaning up the data
##Adding 0 for columns that are missing data
###df['FirstName'][df.ID == 103] = "Matt"
lc_test['mths_since_recent_bc_dlq'].fillna(0)



# Compute the correlation matrix
corr = lc_test.corr()

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [ ]:
#look at the descriptive statistics for our variables
lc_test.describe(include='all')

In [ ]:
#of the charge_off, what was the grade breakdown? 
loan_pay = lc_test[['grade', 'loan_status', 'loan_amnt', 'sub_grade', 'int_rate']]
loan_pay.groupby('grade').size()

In [ ]:
loan_pay.groupby(['grade']).agg({'loan_amnt': np.sum})

In [ ]:
loan_pay.groupby(['loan_status', 'grade']).agg({'loan_amnt': np.sum})

In [ ]:
loan_pay.groupby(['loan_status', 'sub_grade']).agg({'loan_amnt': np.sum})

In [ ]:
loan_pay.groupby(['sub_grade']).agg({'loan_amnt': np.sum})

In [ ]:
loan_pay.groupby(['sub_grade']).agg({'int_rate': np.sum})

## Searching for correlative variables with my predictor variable loan_status 
## Click here to get a mild description of the loan_status definition, they are not very clear :( https://www.lendingclub.com/info/demand-and-credit-profile.action

In [ ]:
#We need to clean up the data set to create a 1 for fully paid off or 0 if not 
lc_clean = pd.get_dummies(lc_test, prefix=None, prefix_sep='_', dummy_na=False, columns=["loan_status", "grade"], sparse=False, drop_first=False)

In [ ]:
#inspect the columns 
lc_clean.dtypes

In [ ]:
#renaming the columns I want to get a correlation for
##https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas 
lc_clean = lc_clean.rename(columns={'loan_status_Fully Paid': 'loan_status_fully_paid',
                                    'loan_status_In Grace Period': 'loan_status_In_Grace_Period',
                                    'loan_status_Charged Off': 'loan_status_Charged_Off',
                                    'loan_status_Late (16-30 days)': 'loan_status_Late_(16-30 days)',
                                    'loan_status_Late (31-120 days)': 'loan_status_Late_(31-120 days)'
                                   'grade'})

In [ ]:
pd.options.display.max_rows = 200
lc_clean.dtypes

In [ ]:
#creating a subset of the data to analyze the stats behind loan_status. 
##Please troubleshoot this with Greg in regard to loan_status_In Grace Period  variable 
loan_status = lc_clean[['loan_status_Charged_Off',
                        'loan_status_In_Grace_Period',
                        'loan_amnt', 'loan_status_Current',
                        'loan_status_Default',
                        'loan_status_fully_paid',
                        'loan_status_Late_(16-30 days)', 'loan_status_Late_(31-120 days)grade']]
loan_status.describe(include='all')

In [ ]:
#creating a subset of the data to analyze the correlation coeffecient between loan_status_fully_paid and other variables
small = lc_clean[['loan_status_fully_paid', 'dti', 'loan_amnt', 'annual_inc', 'grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E']]

In [ ]:
correlation = small.corr(method='pearson')

In [ ]:
correlation

In [ ]:
#creating a subset of the data for just rows that have paid in full and loan_status_Charged_Off
loan_paid = lc_clean[lc_clean['loan_status_fully_paid'] == 1]

In [ ]:
#look at the descriptive statistics for our variables
loan_paid.describe(include='all')

In [ ]:
#Validating that 172,687 is is .732877 of the total rows to make sure that we have the correct rows 
172687/235629

In [ ]:
#Creating the dataset where it is loans that are in default, chareged off, and in oan_status_Late_(16-30 days)	loan_status_Late_(31-120 days)
#loan_bad = lc_clean[lc_clean['loan_status_Charged_Off'] == 1 |lc_clean['loan_status_Default'] ==1 ]
lc_clean[(lc_clean['loan_status_Charged_Off'] == 1) | (lc_clean['loan_status_Default'] == 1)]

In [ ]:
#look at the descriptive statistics for our variables
loan_bad.describe(include='all')

In [ ]:
#Check to make sure it is accurate, it does look like it did NOT add the default loans. Given that default is .00004 I don't care
39220/235629

In [ ]:
#Let's do a correlation with our new data sets. 
#creating a subset of the data to analyze the correlation coeffecient between loan_status_fully_paid and other variables
small_paid = loan_paid[['loan_amnt', 'loan_status_fully_paid', 'loan_amnt', 'annual_inc', 'grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E']]

In [ ]:
small_paid.describe()

In [ ]:
correlation_paid = small_paid.corr(method='pearson')

In [ ]:
correlation_paid

In [ ]:
#okay, well I can't get the correlation coef from my mini dataset for some reason, so I'll have to do something else
## I will try a where statement on the original column as see if that does it
lc_clean

In [ ]:
small_paid.dtypes

In [ ]:
#histogram of variables in small_paid
small_paid.hist()

In [ ]:
#creating a new dataset for both types of good and bad loans
#creating a subset of the data for just rows that have paid in full and loan_status_Charged_Off
loan_p_b = lc_clean[(lc_clean['loan_status_fully_paid'] == 1) | (lc_clean['loan_status_Charged_Off'] == 1)]

In [ ]:

loan_p_b.describe(include='all')

In [ ]:
#I need to define a dataframe with my columns for the predictor variables
loan_p_b_vars=["grade_A", "grade_A"]
#I need to create a train_cols http://blog.yhat.com/posts/logistic-regression-and-python.html
train_cols = loan_p_b_vars[1:]

In [ ]:
#logistic regression
logit = sm.Logit(loan_p_b['loan_status_fully_paid'], loan_p_b['grade_A'])

In [ ]:
result = logit.fit()

In [ ]:
#There is a bug, and the first two lines of code take care of it 
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)
result.summary()